schemas/DU_Wrapper_3.4.0_B324.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.mismo.org/residential/2009/schemas"
    xmlns:MISMO="http://www.mismo.org/residential/2009/schemas"
    xmlns:ULAD="http://www.datamodelextension.org/Schema/ULAD"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:DU="http://www.datamodelextension.org/Schema/DU"
    targetNamespace="http://www.mismo.org/residential/2009/schemas"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.datamodelextension.org/Schema/ULAD" schemaLocation="ULAD_ExtensionV3_4.xsd"/>
    <xsd:import namespace="http://www.datamodelextension.org/Schema/DU" schemaLocation="DU_ExtensionV3_4.xsd"/>
	<xsd:include schemaLocation="MISMO_3.4.0_B324.xsd"/>

    <xsd:complexType name="DU_BORROWER_EXTENSION">
        <xsd:complexContent>
            <xsd:extension base="MISMO:BORROWER_EXTENSION">
                <xsd:sequence>
                    <xsd:element name="DU_CustomField" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="DU_AdditionalNotes" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>
